<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DiariesCommandMapper">
    <insert id="insertDiaryByUserId"
        keyProperty="diary_id" 
        parameterType="com.example.demo.domain.diaries.entity.Diaries">
            
      INSERT INTO diaries
      (
        user_id
      )
      VALUES
      (
        #{userId}
      )
    </insert>
    
    <insert id="insertContentByUserId"
        keyProperty="content_id" 
        parameterType="com.example.demo.infrastructure.diaries.request.RegisterDiaryRequest">
        
      INSERT INTO contents
      (
          diary_id
          ,  diary_title
          ,  diary_content
          ,  created_at
        )
        VALUES
        (
          #{diaryId}
          ,  #{diaryTitle}
          ,  #{diaryContent}
          ,  CURRENT_TIMESTAMP
        )
    </insert>
</mapper>