<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DiaryQueryMapper">

	<select id="selectDiaries" resultType="com.example.demo.application.diary.dto.FindDiaryLinkedUserDto">
		SELECT
			d.diary_id
			, d.diary_title
			, d.diary_content
		  , u.user_id
		  , u.username
		  , u.age
		  , u.email
		  , u.auth
			, d.created_at
			, d.updated_at
			, d.deleted_at
		FROM
			diaries d
		LEFT JOIN diaries_linked_users du
			ON d.diary_id = du.diary_id
		LEFT JOIN users u
			ON du.user_id = u.user_id
		ORDER BY
			d.diary_id
	</select>

	<select id="selectDiariesByUser" resultType="com.example.demo.application.diary.dto.FindDiaryDto">
		SELECT
			d.diary_id
			, d.diary_title
			, d.diary_content
			, d.created_at
			, d.updated_at
			, d.deleted_at
		FROM
			diaries d
			LEFT JOIN diaries_linked_users du
				ON d.diary_id = du.diary_id
		WHERE
			du.user_id = #{userId}
	</select>

	<select id="selectDiaryByUser" resultType="com.example.demo.application.diary.dto.FindDiaryDto">
		SELECT
		  d.diary_id
		  , d.diary_title
		  , d.diary_content
		  , d.created_at
		  , d.updated_at
		  , d.deleted_at
		FROM
		  diaries d
		  LEFT JOIN diaries_linked_users du
		    ON d.diary_id = du.diary_id
		WHERE
		  d.diary_id = #{diaryId}
		AND
		  du.user_id = #{userId}
	</select>
</mapper>