<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ExchangeCommandMapper">

  <insert id="insertComment" parameterType="com.example.demo.infrastructure.exchange.request.RegisterCommentRequest">
    INSERT INTO comments_and_replies
      (
        diary_id
        , comment_no
        , comment_from
        , content
        , created_at
      )
    VALUES
      (
        #{diaryId}
        , #{commentNo}
        , #{commentFrom}
        , #{content}
        , CURRENT_TIMESTAMP
      )
  </insert>

  <insert id="insertReply" parameterType="com.example.demo.infrastructure.exchange.request.RegisterReplyRequest">
    INSERT INTO comments_and_replies
      (
        diary_id
        , reply_no
        , reply_to
        , reply_from
        , content
        , created_at
      )
    VALUES
      (
        #{diaryId}
        , #{replyNo}
        , #{replyTo}
        , #{replyFrom}
        , #{content}
        , CURRENT_TIMESTAMP
      )
  </insert>
</mapper>