<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersQueryMapper">
    <select id="findUsers" resultType="com.example.demo.domain.users.entity.Users">
        SELECT
          u.user_id
          ,  u.username
          ,  u.age
          ,  u.email
          ,  u.auth
        FROM
          users u
        ORDER BY
          u.user_id ASC
    </select>
    
    <select id="findUserById" resultType="com.example.demo.domain.users.entity.Users">
        SELECT
          u.user_id
          ,  u.username
          ,  u.age
          ,  u.email
          ,  u.auth
        FROM
          users u
        WHERE
          u.user_id = #{userId}
    </select>
    
    <select id="findUserByName" resultType="com.example.demo.domain.users.entity.Users">
        SELECT
          u.user_id
          ,  u.username
          ,  u.age
          ,  u.email
          ,  u.password
          ,  u.auth
        FROM
          users u
        WHERE
          u.username = #{username}
    </select>
</mapper>